{% extends "base.html" %}
{% block title %}
  Ваша корзина товаров
{% endblock %}
{% block navbar %}
    	<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                <li>
                                <a href="{% url 'CartDetail' %}">
								 <i class="ti-shopping-cart-full"></i>
								 <p>{{ total_items }} тов. {{ cart.get_total_price }} y.e.</p>
                               </a>
                               </li>
                                {% else %}
                                <li>
                                <a href="#">
								 <i class="ti-shopping-cart"></i>
								 <p>Корзина пустая</p>
                               </a>
                               </li>
                            {% endif %}
                        {% endwith %}
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
									<p></p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'account:user_logout' %}">Выйти</a></li>
                              </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
{% endblock %}
{% block sidebar %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Elite Travel Club
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'account:home' %}">
                        <i class="ti-home"></i>
                        <p>Общая сводка</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'graph:mpttgraph-inline' 'account.models.Node'  node.id %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Структура</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:invited' %}">
                        <i class="ti-user"></i>
                        <p>Приглашенные</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'ProductList' %}">
                        <i class="ti-home"></i>
                        <p>Интернет магазин</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:documentation' %}">
                        <i class="ti-map"></i>
                        <p>Документация</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:notifications' %}">
                        <i class="ti-bell"></i>
                        <p>Уведомления</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}
    <div class="content">
            <div class="container-fluid">
                <div class="row">
                      <section id="content row" class="container-fluid">
            <div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4>Ваша корзина товаров</h4>
        </div>
        <div class="content table-responsive table-full-width">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{% url 'ProductDetail' product.id %}">
                <img src="{{ product.image.url }}" width="100" height="100" />
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'CartAdd' product.id %}" method="post" class="add">
                    <!--{{ item.quantity }}-->
    {{ item.update_quantity_form.quantity }}
    {{ item.update_quantity_form.update }}
    {% csrf_token %}
    <input type="submit" value="Обновить">
</form>
            </td>
            <td><a href="remove/{{product.id}}" class="text-danger">Удалить</a></td>
            <td class="num">{{ item.price }} y.e.</td>
            <td class="num">{{ item.total_price }} y.e.</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Общее</td>
          <td colspan="4"></td>
          <td class="num">{{ cart.get_total_price }} y.e.</td>
        </tr>
    </tbody>
  </table>
        </div>
    </div>
</div>
  <p class="text-right">
    <a href="{% url 'ProductList' %}" class="btn btn-info btn-fill">Продолжить Шопинг</a>
    <a href="{% url 'OrderCreate' %}" class="btn btn-info btn-fill">Оформить заказ</a>
  </p>
                      </section>
                </div>
            </div>
        </div>




{% endblock %}