{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
    <div class="content">
            <div class="container-fluid">
                <div class="row">

                        <div class="top container-fluid">
                          Интернет магазин
                        </div>
                        <div class="top-bl">
                          <div class="container-fluid">
                            <div class="cart ">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                Ваша корзина:
                                <a href="{% url 'CartDetail' %}" class="text-info">
                                    {{ total_items }} тов. {{ cart.get_total_price }} y.e.
                                </a>
                             {% else %}
                                  Корзина пустая
                            {% endif %}
                        {% endwith %}
                    </div>
                          </div>
                        </div>

                      <section id="content row" class="container-fluid">
                       <div class="product-detail" xmlns:cart="http://www.w3.org/1999/xhtml">
    <div class="col-sm-4">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>

      <p class="price text-info">
        {{ product.price }} y.e.
      </p>
      <form action="{% url 'CartAdd' product.id %}" method="post">
        {% csrf_token %}
    {{ cart_product_form }}

    <input type="submit" class="btn btn-info btn-fill" value="Добавить в корзину">
</form>

      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>
                      </section>

                </div>
            </div>
        </div>




{% endblock %}