{% extends 'base.html' %}
{% load static %}

{% block title %}
   Страница товаров
{% endblock %}
{% block navbar %}
    	<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">


                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
									<p></p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'account:user_logout' %}">Выйти</a></li>
                              </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
{% endblock %}
{% block sidebar %}
	<div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Aroma Lifestyle
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'account:home' %}">
                        <i class="ti-home"></i>
                        <p>Общая сводка</p>
                    </a>
                </li>
                <li>
{#                    <a href="{% url 'graph:mpttgraph-inline' 'account.models.Node'  node.id %}">#}
                        <i class="ti-view-list-alt"></i>
                        <p>Структура</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:invited' %}">
                        <i class="ti-user"></i>
                        <p>Приглашенные</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-user"></i>
                        <p>История бонусов</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'ProductList' %}">
                        <i class="ti-home"></i>
                        <p>Интернет магазин</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:documentation' %}">
                        <i class="ti-map"></i>
                        <p>Документация</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account:notifications' %}">
                        <i class="ti-bell"></i>
                        <p>Уведомления</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>
{% endblock %}
{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th>bonus.user</th>
        <th>bonus.value</th>
        <th>bonus.partner</th>
        <th>bonus.type</th>
        <th>bonus.created_date </th>

      </tr>
    </thead>
<tbody>
      {% for bonus in bonuses %}
 <tr>
          <td>{{ bonus.user }}</td>
          <td>{{ bonus.value }}</td>
          <td>{{ bonus.partner }}</td>
          <td>{{ bonus.type }}</td>
          <td>{{ bonus.created_date }}</td>
 </tr>
      {% endfor %}
</tbody>
</table>

{% endblock %}