{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- Font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<!-- Font -->


        <link rel="stylesheet" href="{% static 'main/css/normalize.css '%}">
        <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/animate.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/responsive.css'%}">
        <script src="{% static 'main/js/vendor/modernizr-2.8.3.min.js'%}"></script>


    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<!-- Header Start -->
		<header id="home">

			<!-- Main Menu Start -->
			<div class="main-menu">
				<div class="navbar-wrapper">
					<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="container">
							<div class="navbar-header">


								<a href="#" ><img src="{% static 'main/img/logo.png'%}" alt="Logo" /></a>
							</div>

							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li><a href="#home">Главная</a></li>
									<li><a href="#about">О компании</a></li>
									<li><a href="#feature-work">Продукты</a></li>
									<li><a href="#blog">Новости</a></li>
									<li><a href="#pricing">Пакеты</a></li>
									<li><a href="{% url 'account:user_login' %}">Личный кабинет</a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- Main Menu End -->

			<!-- Sider Start -->
			<div class="slider">
				<div id="fawesome-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators indicatior2">
						<li data-target="#fawesome-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#fawesome-carousel" data-slide-to="1"></li>
					</ol>

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="{% static 'main/img/slider1.jpg'%}" alt="Sider Big Image">
							<div class="carousel-caption">
								<h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
								<div class="slider-btn wow fadeIn">
									<a href="#" class="btn btn-learn">Learn More</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="{% static 'main/img/slider2.jpg'%}" alt="Sider Big Image">
							<div class="carousel-caption">
								<h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
								<div class="slider-btn wow fadeIn">
									<a href="#" class="btn btn-learn">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Sider End -->

		</header>
		<!-- Header End -->


		<!-- About Section -->
		<section id="about" class="site-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="about-image wow fadeInLeft">
							<img src="{% static 'main/img/about-image.jpg'%}" alt="About Image" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-text wow fadeInRight">
							<h3>О компании</h3>
							<p>
                              <h6> "Aroma Lifestyle–это международная интернет-компания, которая дает возможность приобретать продукт и вести бизнес по всему миру!"</h6>
        Руководство компании – это профессионалы, всю жизнь посвятившие сетевому маркетингу и получившие колоссальный опыт в сфере администрирования и построения сети. Вся линейка продуктов компании IMAGINE PEOPLE является ее интеллектуальной собственностью и производится по эксклюзивным договорам, на современных производствах с соблюдением европейских стандартов! Мы отбираем самое интересное, что есть на сегодняшний день на рынке, совершенствуем, дорабатываем и делаем из этого эксклюзивное товарное предложение!
                            </p>
{#							<a href="#" class="btn btn-read-more">Read More</a>#}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About Section -->


		<!-- Award Winning Section -->



		<!-- Award Winning Section -->


		<!-- Feature Section -->



		<!-- Feature Section -->



		<!-- Featured Work -->

		<section id="feature-work" class="protfolio-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h3>Наши <span>продукты</span></h3>
						</div>
					</div>
				</div>
			</div>

			<div class="featured-list">
				<div id="grid" class="clearfix">


                    {% for product in products %}

                        <div class="thumb">
						<a href="#">
							<img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-responsive " width="200" height="100" alt="" />
						</a>

						<div class="thumb-rollover">
							<div class="project-title">
								<h4>{{ product.name }}</h4>
								<h5>{{ product.price }} y.e.</h5>
							</div>
						</div>

					</div>

      {% endfor %}




				</div>
			</div>


		</section>

		<!-- Featured Work -->


		<!-- Testimonials -->



		<!-- Testimonials -->


		<!-- From the Blog-->

		<section id="blog" class="site-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h3>Последние <span>новости</span></h3>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- Single Blog -->
					<div class="col-sm-4">
						<div class="single-blog">
							<img src="{% static 'main/img/blog.jpg'%}" alt="Blog Image" />
							<h4><a href="blog.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<a href="#">Read More>></a>
						</div>
					</div>
					<!-- Single Blog -->

					<!-- Single Blog -->
					<div class="col-sm-4">
						<div class="single-blog">
							<img src="{% static 'main/img/blog.jpg'%}" alt="Blog Image" />
							<h4><a href="blog.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<a href="#">Read More>></a>
						</div>
					</div>
					<!-- Single Blog -->

					<!-- Single Blog -->
					<div class="col-sm-4">
						<div class="single-blog">
							<img src="{% static 'main/img/blog.jpg'%}" alt="Blog Image" />
							<h4><a href="blog.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<a href="#">Read More>></a>
						</div>
					</div>
					<!-- Single Blog -->


				</div>

			</div>
		</section>

		<!-- From the Blog-->


		<!-- Pricing --->
		<section class="pricing" id="pricing">

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h3>Наши <span>пакеты</span></h3>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
						<h3>Standard</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:30px"><strong>$9 / Month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>

					</div>
					<!-- /PRICE ITEM -->


					</div>


				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
						<h3>Premium</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:30px"><strong>$19 / Month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>

					</div>
					<!-- /PRICE ITEM -->


				</div>


				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
						<h3>Professional</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:30px"><strong>$29 / Month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>

					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-grey">
						<div class="panel-heading arrow_box text-center">
						<h3>Ultimate</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:30px"><strong>$39 / Month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>

					</div>
					<!-- /PRICE ITEM -->


				</div>

				</div>
			</div>
		</section>
		<!-- Pricing --->


		<!--FAQ-->


		<!--FAQ-->



		<!-- Contact -->

		<!-- Contact -->


		<!-- footer -->

		<footer>
			<div class="container">
				<div class="row">

					<!-- Single Footer -->

					<!-- Single Footer -->


					<!-- Single Footer -->
					<div class="col-sm-3">
						<div class="single-footer">
							<h4>Адрес</h4>
							<p>44 New Design Street, Melbourne 005 <br />
							+1 (123) 456-7890-321 <br />
							info@weburl.com <br />
							(01) 800 854 633</p>
						</div>
					</div>
					<!-- Single Footer -->


					<!-- Single Footer -->

					<!-- Single Footer -->

					<!-- Single Footer -->

					<!-- Single Footer -->

				</div>
			</div>

		</footer>

		<!-- Copyright -->
		<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="copy-text">
								<p>All Rights Reserved | Copyright 2019 © </p>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- footer -->




        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'main/js/vendor/jquery-1.12.0.min.js'%}"><\/script>')</script>
        <script src="{% static 'main/js/plugins.js'%}"></script>
        <script src="{% static 'main/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'main/js/jquery.mousewheel-3.0.6.pack.js'%}"></script>
        <script src="{% static 'main/js/paralax.js'%}"></script>
        <script src="{% static 'main/js/jquery.smooth-scroll.js'%}"></script>
        <script src="{% static 'main/js/jquery.sticky.js'%}"></script>
        <script src="{% static 'main/js/wow.min.js'%}"></script>
        <script src="{% static 'main/js/main.js'%}"></script>


		<script type="text/javascript">
			$(document).ready(function(){
				$('a[href^="#"]').on('click',function (e) {
					e.preventDefault();

					var target = this.hash;
					var $target = $(target);

					$('html, body').stop().animate({
						 'scrollTop': $target.offset().top
					}, 900, 'swing');
					});
			});
		</script>

		<script src="{% static 'main/js/custom.js'%}"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
