{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail" xmlns:cart="http://www.w3.org/1999/xhtml">
    <div class="col-sm-4">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>

      <p class="price text-info">
        {{ product.price }} y.e.
      </p>
      <form action="{% url 'CartAdd' product.id %}" method="post">
        {% csrf_token %}
    {{ cart_product_form }}

    <input type="submit" class="btn btn-info btn-fill" value="Добавить в корзину">
</form>

      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>
{% endblock %}