{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
   Страница товаров
{% endblock %}
{% block content %}

  <div id="main" class="col-sm-9">
    <h1>Товары</h1>
    <div class="items row">
      {% for product in products %}
        <div class="item col-sm-4">
          <a href="{{product.id}}">
       <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-responsive " width="200" height="100">
          </a>
          <a href="{{ product.id}}">{{ product.name }}</a><br>
          {{ product.price }} y.e.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}